<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginFuncionarios</servlet-name>
        <servlet-class>Sources.LoginFuncionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealizarTransferencia</servlet-name>
        <servlet-class>Sources.RealizarTransferencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovaConta</servlet-name>
        <servlet-class>Sources.NovaConta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getExtratoFunc</servlet-name>
        <servlet-class>Sources.getExtratoFunc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getSaldoFunc</servlet-name>
        <servlet-class>Sources.getSaldoFunc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoCorrentista</servlet-name>
        <servlet-class>Sources.NovoCorrentista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessaLogins</servlet-name>
        <servlet-class>Sources.ProcessaLogins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goSaque</servlet-name>
        <servlet-class>Sources.goSaque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goDeposito</servlet-name>
        <servlet-class>Sources.goDeposito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logoff</servlet-name>
        <servlet-class>Sources.Logoff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NovoFuncionario</servlet-name>
        <servlet-class>Sources.NovoFuncionario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginFuncionarios</servlet-name>
        <url-pattern>/LoginFuncionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealizarTransferencia</servlet-name>
        <url-pattern>/RealizarTransferencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovaConta</servlet-name>
        <url-pattern>/NovaConta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getExtratoFunc</servlet-name>
        <url-pattern>/getExtratoFunc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getSaldoFunc</servlet-name>
        <url-pattern>/getSaldoFunc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoCorrentista</servlet-name>
        <url-pattern>/NovoCorrentista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessaLogins</servlet-name>
        <url-pattern>/ProcessaLogins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goSaque</servlet-name>
        <url-pattern>/goSaque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goDeposito</servlet-name>
        <url-pattern>/goDeposito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logoff</servlet-name>
        <url-pattern>/Logoff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NovoFuncionario</servlet-name>
        <url-pattern>/NovoFuncionario</url-pattern>
    </servlet-mapping>
</web-app>
